<a href="https://colab.research.google.com/github/rohit7798github/Assignment-04-triple_all_number.pys-/blob/main/Assignment_04_triple_of_number_py.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def triple_of_number(num):
    return 3*num

numbers=[1,2,3,4,5,6,7]
num=list(map(triple_of_number,numbers))
print(num)

[3, 6, 9, 12, 15, 18, 21]